* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.accordion-item {
    margin-bottom: 1rem;
}

.fa-thumbs-up, .fa-tag, .fa-clock, .fa-award {
    color: #fff;
}

.fa-stack {
    padding-top: 0.7em;
    padding-left: 0.5em;
}

.thumbs-up-bg {
    color: yellow;
}

.tag-bg {
    color: palevioletred;
}

.clock-bg {
    color: blue;
}

.award-bg {
    color: green;
}